<!DOCTYPE html>
<html lang="en"> 

<head> 
<title>Scala Puzzlers</title>
 <link rel="shortcut icon" href="img/favicon.gif" type="image/x-icon">

 <link href="/css/main.css" rel="stylesheet" type="text/css">
 <link href="/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <link href="/vendors/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
 <link href="/vendors/prettify.css" type="text/css" rel="stylesheet">
 <link href="/vendors/codemirror-3.13/codemirror.css" type="text/css" rel="stylesheet">
 <link href="/vendors/scalakata/solarized.css" rel="stylesheet" type="text/css">
 <link href="/vendors/scalakata/code-mirror.css" rel="stylesheet" type="text/css">
 <link href="/vendors/scalakata/kata.css" rel="stylesheet" type="text/css">
</head>

<body data-spy="scroll" data-target=".subnav" data-offset="50">
  <div class="navbar navbar-fixed-top">
    <a target="_blank" href="https://github.com/scalapuzzlers/scalapuzzlers.github.com">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
    </a>
    <div class="navbar-inner">
      <div class="container">
				<a class="brand" href="/">Scala ?uzz<img src="img/l.png" alt="l" style="padding-bottom:10px;padding-left:2px;padding-right:2px"/>ers</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a id="navbar-home" href="index.html">Home</a></li>
            <li><a id="navbar-contribute" href="contribute.html">How to Contribute</a></li>
            <li><a id="navbar-contact" href="contact.html">Contact</a></li>
						<li><a id="navbar-about" href="about.html">About</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header">Puzzlers</li>
            <li><a href="#" id="pzzlr-001">Hi There!</a></li>
            <li><a href="#" id="pzzlr-003">UPSTAIRS downstairs</a></li> 
            <li><a href="#" id="pzzlr-004">The Trouble With Traits</a></li>
            <li><a href="#" id="pzzlr-005">The Trouble With Traits 2</a></li>
            <li><a href="#" id="pzzlr-006">The Missing List</a></li>  
            <li><a href="#" id="pzzlr-007">Arg Arrgh!</a></li>
            <li><a href="#" id="pzzlr-008">Captured by Closures</a></li>
            <li><a href="#" id="pzzlr-009">Map Comprehension</a></li>
            <li><a href="#" id="pzzlr-010">Init You, Init Me</a></li>
            <li><a href="#" id="pzzlr-011">A Case of Equality</a></li>
            <li><a href="#" id="pzzlr-012">If At First You Don't Succeed...</a></li>
            <li><a href="#" id="pzzlr-013">To Map, or Not to Map</a></li>
            <li><a href="#" id="pzzlr-015">Private Lives</a></li>
            <li><a href="#" id="pzzlr-016">Self: See 'Self'</a></li>
            <li><a href="#" id="pzzlr-017">One Egg or Two..?</a></li>
            <li><a href="#" id="pzzlr-018">Return to Me!</a></li>
            <li><a href="#" id="pzzlr-019">Implicitly Surprising</a></li>
            <li><a href="#" id="pzzlr-020">One Bound, Two to Go</a></li>
            <li><a href="#" id="pzzlr-021">Views From the Top</a></li>
            <li><a href="#" id="pzzlr-022">Count Me Now, Count Me Later</a></li>
            <li><a href="#" id="pzzlr-023">Information Overload</a></li>
            <li><a href="#" id="pzzlr-024">What's In a Name?</a></li>
            <li><a href="#" id="pzzlr-025">$!.*% Iterators!</a></li>
            <!-- 26 'reserved' for Scalaz - suggestion by A.P. Marki -->
            <li><a href="#" id="pzzlr-027">I Can Has Padding?</a></li>
            <li><a href="#" id="pzzlr-028">Cast Away</a></li>
            <li><a href="#" id="pzzlr-029">Pick an Int, Any Int!</a></li>
            <li><a href="#" id="pzzlr-030">Double Trouble</a></li>
            <li class="divider"></li>
          </ul>
        </div>
      </div>
      <div class="span9">
        <div id="prime-space">
          {{ content }}
        <div id="disqus_thread" class="comments"></div>
        <footer class="footer">Copyright &copy; 2013, Andrew Phillips and Nermin Serifovic</footer>
      </div>
    </div>
  </div>
	<script src="/vendors/jquery-1.9.0.min.js"></script>
  <script src="/js/puzzle.js"></script>
  <script src="/vendors/prettify.js"></script>
  <script src="/vendors/codemirror-3.13/codemirror.js"></script>
  <script src="/vendors/codemirror-3.13/clike.js"></script>
  <script src="/vendors/scalakata/kata.js"></script>
</body>
</html>